# GetStream credentials (yeh same rahenge)
# GetStream credentials (yeh same rahenge)
STREAM_API_KEY=77uaunr7pfgf
STREAM_API_SECRET=fczxzb48ht9yfbykgtppzckjpphyw689wdhvfzkkssyz96zrrmn2dfzp4gggkq48

GROQ_API_KEY=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

PORT=3333